[Unit]
Description : NVIDIA system resume actions
After : systemd-hibernate.service

[Service]
Type : oneshot
ExecStart : /usr/bin/nvidia-sleep.sh "resume"

[Install]
WantedBy : systemd-hibernate.service

